/* App.css */

  
  nav {
    background-color: #000658;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: fixed;
    z-index: 12;
    width: 100vw;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 120px; /* Adjust the width to your preference */
    height: auto;
    margin-right: 300px /* Add some spacing between the logo and navigation links */
  
  }
  
  .nav__brand{

    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav__menu{

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }

  .nav__toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: white;
    transition: 0.4s ease-in;
  }
  .icon {
    height: 2.2rem;
    margin-bottom: -10%;
  }
  .nav__toggler{
    cursor: pointer;
    display: none;
  }
  .menu {
    display: none;
  }
  .close-menu {
    display: block;
  }

  @media screen and (max-width: 768px) {
    .icon {
      height: 3.2rem;
      margin-bottom: -5%;
    }
    .nav__brand{

      font-size: 2.2rem;}
    .menu {
      display: block;
    }
    .close-menu {
      display: none;
    }
      .nav__toggler{
        display: block;
        
      }
      .nav__menu{
        position: fixed;
        z-index: 12;
        top: 7vh;
        right: 0;
        width: 98%;
        gap: 1.4rem;
        max-height: 50vh;
        background-color:#000658 ;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        align-items: start;
       
      }
      .nav__menu a {
        margin-left: 20px;
        
      }
      .nav__menu li {
        border-bottom: 0.02rem solid darkblue;
        padding-bottom: 10px;
        width: 100vw;
      }
  }

  /* nav active class*/
  .nav__active {
    transform: translateX(0);
  }

  /*toggler icon animation*/
  .toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-4px, -5px);
  }

  .search-icon {
    margin-left: 50px; /* Add some spacing between the navigation links and the search icon */
    justify-content: right;
  }
  
  *,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}



li{
    list-style: none;
}
a{
    text-decoration:none;
    color: white;
}